﻿<!DOCTYPE html>

<html data-ng-app="app" class="ng-cloak">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body role="document">
    <div class="container" role="main">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ui-angular")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/grid-light")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/filters")
    @Scripts.Render("~/bundles/constants")
    @Scripts.Render("~/bundles/factories")
    @Scripts.Render("~/bundles/directives")
    @Scripts.Render("~/bundles/controllers")
    @RenderSection("scripts", required: false)
</body>
</html>
